@import "../../style/variables.scss";

.randomchar {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  &__block {
    padding: 40px 35px;
    display: grid;
    grid-template-columns: 180px auto;
    column-gap: 30px;
  }
  &__img {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
  &__info {
    display: grid;
    grid-template-rows: minmax(29px, auto) 90px 38px;
    row-gap: 10px;
    padding-top: 3px;
  }
  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
  }
  &__descr {
    font-size: 14px;
    line-height: 18px;
  }
  &__btns {
    a:nth-child(1) {
      margin-right: 30px;
    }
  }
  &__static {
    padding: 40px 35px;
    background-color: $dark;
    position: relative;
    button {
      margin-top: 13px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.045em;
    color: #ffffff;
    &:nth-child(2) {
      margin-top: 33px;
    }
  }
  &__decoration {
    position: absolute;
    bottom: 14px;
    right: -37px;
  }
}
@media (max-width: 1620px) {
  .randomchar {
    grid-template-columns: 60% 40%;
    &__title {
      font-size: 22px;
    }
    &__static {
      height: 100%;
    }
    &__info {
      grid-template-rows: minmax(29px, auto) auto 50px;
    }
    &__decoration {
      width: 150px;
    }
    &__btns {
      display: flex;
    }
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .randomchar {
    height: 100%;
    &__block {
      place-items: center;
      height: 100%;
      padding: 43px 20px;
    }
    &__static {
      height: inherit;
      padding: 30px 25px;
      button {
        position: absolute;
        bottom: 13px;
        margin-bottom: 30px;
      }
    }
    &__btns {
      display: flex;
    }
    &__info {
      place-items: center;
      height: auto;
    }
    &__name {
      text-align: center;
    }
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .randomchar {
    min-height: 330px;
    // grid-template-rows: 50% 50%;
    // grid-template-columns: auto;
    &__block {
      justify-content: center;
      padding: 35px 29px;
      place-items: center;
      column-gap: 16px;
      grid-template-rows: minmax(100px, 150px) auto;
      grid-template-columns: none;
    }
    &__title {
      font-size: 19px;
      font-weight: 500;
      line-height: 24px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &__btns {
      margin-top: auto;
      justify-content: center;
    }
    &__img {
      width: 100%;
      height: 100%;
    }
    &__name {
      text-align: center;
    }
    &__static {
      display: flex;
      flex-direction: column;
      height: 100%;
      button {
        margin-top: auto;
        width: fit-content;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .randomchar {
    grid-template-rows: 60% 40%;
    grid-template-columns: auto;
    &__static {
      padding: 50px 35px;
    }
    &__block {
      place-items: center;
      grid-template-rows: 180px auto;
      grid-template-columns: auto;
    }
    &__info {
      grid-template-rows: minmax(28px, auto) auto 38px;
      place-items: center;
    }
  }
}
@media (max-width: 575.98px) {
  .randomchar {
    grid-template-rows: 60% 40%;
    grid-template-columns: auto;

    &__static {
      padding: 16px 10px;
    }
    &__block {
      place-items: center;
      grid-template-rows: 180px auto;
      grid-template-columns: auto;
      padding: 16px 10px;
    }
    &__info {
      grid-template-rows: minmax(28px, auto) auto 38px;
      place-items: center;
    }
    &__decoration {
      width: 40%;
      bottom: 0px;
      right: -13%;
    }
  }
}
@media (max-width: 475.98px) {
  .randomchar {
    height: 600px;
    &__title {
      font-weight: 500;
      font-size: 16px;
    }
  }
}
